{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}



<div class="container rounded  mt-5 mb-5" style="background-color:rgb(248,248,255, 0.4); box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);">
    <div class="row" style="margin:2rem; padding:2rem">
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Ваш профиль</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Обновить</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}